html,body
{
margin:0;}
h1
{
  font-family: 'Georgia', sans-serif;
  text-transform: uppercase;
  text-align:center;
}
p
{

   font-family:'Arial',sans-serif;
   line-height:1.5em;
   word-spacing:0.3em;
   margin: 30px;
  font-size: 18px;
}
.y p
{
  color: #A52A2A;
}
.m p
{
  color: #006400;
}
.n p
{
  color:rgb(0,0,255);
}
.o p
{
  color:rgb(148,0,211);
}
.p p
{
  color:	#800080;
}
.q p
{
  color:#A52A2A;
}

.y
{
  max-width:500px;
  margin:0 auto;
  text-align:center;
}
.s
{
background:url("https://www.google.co.in/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjDo4CJ8ZnUAhUSTo8KHapYDvsQjRwIBw&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FNational_Institute_of_Technology%2C_Tiruchirappalli&psig=AFQjCNFXXrenjf1nFV5UM04HTXXAgUW_9w&ust=1496311554995986") repeat center;
background-size:cover;
height:1000px;
overflow:scroll;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.x .y
{
  position:relative;
   top:50px;
}
.y h1
{
  color:rgb(0,0,0);
  margin:0;
  font-size:50px;
}
h3
{
  color:rgb(0,0,0);
  margin:30px;
  font-size:20px;
  text-align:left;
}
h4{
  color:rgb(0, 128, 0);
  font-size:25px;
  margin:0 0 0 5px;}
.y .p{color:rgb(255,0,0);}
.m .p{color:rgb(0,255,0);}
.n .p{color:rgb(0,0,255);}
.o .p{color:rgb(255,127,80);}
.p .p{color:rgb(255,255,0);}
.q .p{color:rgb(128,128,0);}

