html,body
{
margin:0;}
h1
{
  font-family: 'Georgia', sans-serif;
  text-transform: uppercase;
  text-align:center;
}
p
{

   font-family:'Arial',sans-serif;
   line-height:1.5em;
   word-spacing:0.3em;
   
   margin: 30px;
  font-size: 18px;
}
.y
{
  max-width:500px;
  margin:0 auto;
  text-align:center;
}
.s
{
background:url("https://mail.google.com/mail/u/0/?ui=2&ik=624eb453d1&view=att&th=15c59e19a03e98d7&attid=0.1&disp=safe&realattid=f_j3boygiw1&zw") repeat center;
background-size:cover;
height:1000px;
overflow:scroll;
  background-color:transparent;
  filter:alpha(opacity=10);
}
.x .y
{
  position:relative;
   top:50px;
}
.y h1
{
  color:rgb(0,0,0);
  margin:0;
  font-size:50px;
}
h3
{
  color:rgb(0,0,0);
  margin:30px;
  font-size:20px;
  text-align:left;
}
h4{
  color:rgb(0, 128, 0);
  font-size:25px;
  margin:0 0 0 5px;}
.y .p{color:rgb(255,0,0);}
.m .p{color:rgb(0,255,0);}
.n .p{color:rgb(0,0,255);}
.o .p{color:rgb(255,127,80);}
.p .p{color:rgb(255,255,0);}
.q .p{color:rgb(128,128,0);}

